@page
@model Disable2faModel
@{
    ViewData["Title"] = "Disabilita autenticazione a due fattori (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>Questa azione disabilita solo il 2FA.</strong>
    </p>
    <p>
        Disabilitare il 2FA non cambia le chiavi utilizzate nelle app autenticatore. Se desideri cambiare la chiave
        utilizzata in un'app autenticatore dovresti <a asp-page="./ResetAuthenticator">resetta le tue chiavi dell'autenticatore.</a>
    </p>
</div>

<div>
    <form method="post">
        <button class="btn btn-danger" type="submit">Disabilita 2FA</button>
    </form>
</div>
