@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Dati Personali";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>Il tuo account contiene dati personali che ci hai fornito. Questa pagina ti permette di scaricare o eliminare tali dati.</p>
        <p>
            <strong>Eliminando questi dati, il tuo account verrà cancellato definitivamente e non sarà possibile recuperarlo.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn btn-primary" type="submit">Scarica</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Elimina</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}