@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Conferma reimpostazione password dimenticata";
}

<h1>@ViewData["Title"]</h1>
<p>
    Controlla la tua email per reimpostare la tua password.
</p>