@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Gestione Ex Allievi Itis Mario Delpozzo</h2>
    <p>Benvenuto nella zona gestione degli Ex-allievi dell'ITIS Mario Delpozzo. In questo sito potrá accedere ai dati dei nostri ex-alunni.</p>
</div>
<hr /><br />
<div>
    <h3><strong>Chi si può registrare in questo sito?</strong></h3>
    <p>In questo sito si potranno registrare le aziende o gli ex-allievi che hanno studiato nella nostra scuola.</p>
</div>

<div>
    <h3><strong>Come funziona il sito?</strong></h3>
    <p>Il sito funzionerà nei seguenti modi, in base al ruolo che abbiamo:</p>
    <ul>
        <li><strong>Aziende:</strong> Dopo aver completato tutte le procedure di registrazione, potrete visualizzare i dati dei vostri dipendenti, inclusi il curriculum, il nome, il cognome e altre informazioni rilevanti.</li>
        <li><strong>Ex-allievi:</strong> Dopo esservi registrati, potrete inserire i dati importanti, che saranno poi visibili alle aziende interessate. Questi dati includono il curriculum, il nome, il cognome e altre informazioni pertinenti.</li>
    </ul>
    <p>Speriamo che questo sito possa agevolare la comunicazione tra ex-allievi e aziende, favorendo opportunità di collaborazione e networking.</p>
</div>
